SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.ngrok-free.app,.ngrok.app
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://*.ngrok-free.app,https://*.ngrok.app
USE_SQLITE=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
REDIS_URL=redis://127.0.0.1:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
